@import "./normalize";

html {
  font-family: Helvetica, sans-serif;
}

.header {
  // box-sizing: border-box;
  position: relative;
  background-image: url("../img/header-bg-mobile.png");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 30px;

  @media only screen and (min-width: 600px) {
    padding-top: 40px;
    background-image: url("../img/header-bg.png");
    text-align: left;
    min-height: 0;
    padding-bottom: 90px;

    .wrapper {
      max-width: 560px;
      margin-left: 150px;
    }
  }

  // .logo {
  //   @media only screen and (min-width: 600px) {
  //     // background-image: url("../img/header-bg.png");
  //   }
  // }

  .heading-primary {
    margin-top: 55px;
    margin-bottom: 23px;

    font-family: "PF DinText Pro Medium";
    line-height: 40px;
    font-size: 29.5px;
    line-height: 33.5px;

    @media only screen and (min-width: 600px) {
      line-height: 57px;
      font-size: 50px;
    }

    .highlight {
      font-family: "Helvetica";
      font-size: 20px;
      color: #e71071;

      @media only screen and (min-width: 600px) {
        font-size: 25px;
        line-height: 60px;
      }
    }
  }

  .heading-helper {
    font-size: 13.5px;
    line-height: 34px;

    // display: flex;
    // align-items: flex-start;

    img {
      transform: translateY(15%);
      margin-right: 9px;
    }

    @media only screen and (min-width: 600px) {
      font-size: 20px;
      img {
        width: 22px;
        transform: translateY(10%);
      }
    }
  }

  .bottom-info {
    margin-top: 265px;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 600px) {
      justify-content: flex-start;
      margin-top: 0;
      img {
        width: 240px;
      }
    }
  }

  .bottom-info-helper {
    margin-top: 0;
    padding-left: 50%;
    font-size: 10px;
    line-height: 16.5px;

    @media only screen and (min-width: 600px) {
      padding-left: 30%;
      // margin-right: -10%;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PF DinText Pro Medium";
  font-weight: normal;
}
.btn {
  // width: 161px;
  // height: 47px;
  font-size: 19.5px;
  font-family: "PF DinText Pro Medium";

  border-radius: 1000px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  padding: 16px 32px;
  // box-shadow: 0.1px 4px 0 0 #3f002e, inset 0px 4px 0 0 rgba(251, 52, 204, 0.5);
  box-shadow: 0px 2px 0 0 rgba(63, 0, 46, 0.36),
    inset 0px 4px 0 0 rgba(251, 52, 204, 0.5);
  background-image: linear-gradient(to bottom, #b6359c, #ef0a6a);

  @media only screen and (min-width: 600px) {
    padding: 20px 40px;
    font-size: 25px;
  }
}
.container {
  display: block;
  width: 95%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 97px;
  padding-top: 10px;
}
.cards {
  padding: 15px;

  @media only screen and (min-width: 600px) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    // align-items: baseline;
    justify-content: center;
    margin-right: -70px;
  }
}
.card {
  position: relative;
  text-align: center;
  margin-bottom: 35px;
  @media only screen and (min-width: 600px) {
    // padding: 20px 40px;
    // font-size: 25px;
    flex: 0 0 26%;
    margin-bottom: 70px;
  }

  &:not(:last-child) {
    @media only screen and (min-width: 600px) {
      margin-right: 50px;
    }
  }

  .img {
    @media only screen and (min-width: 600px) {
      height: 176px;
    }
  }

  .content {
    border-radius: 10px;
    box-shadow: 0.4px 24px 35px 0 rgba(24, 24, 24, 0.15);
    background-color: #ffffff;
    z-index: 2;
    padding: 25px 15px;

    @media only screen and (min-width: 600px) {
      font-size: 15.5px;
      line-height: 25.5px;
    }
  }

  .heading {
    text-transform: uppercase;
    @media only screen and (min-width: 600px) {
      font-size: 20.5px;
      line-height: 25.5px;
      height: 2em;
    }
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -12px;
    top: 12px;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0.4px 24px 35px 0 rgba(24, 24, 24, 0.15);
    background-color: #ffffff;
  }
}
.section-heading {
  //   margin-top: 10px;
  text-align: center;

  @media only screen and (min-width: 600px) {
    font-size: 50px;
    line-height: 57px;
  }
}

.emojis {
  padding: 15px;
  @media only screen and (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -100px;
    align-items: center;
  }
}

.emoji {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media only screen and (min-width: 600px) {
    flex: 1 0 40%;
    padding-right: 100px;
  }

  .icon {
    font-size: 40px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    @media only screen and (min-width: 600px) {
      width: 70px;
    }
    img {
      width: 100%;
    }
  }
  .text {
    font-size: 17.5px;
    line-height: 19px;
    text-align: left;
    // background-image: url("../img/chat-bg.png");
    border-radius: 10px;
    background-color: #f2f2f2;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px;
    // padding-left: 28px;
    margin-left: 15px;
    // height: 80px;
    // height: 100px;
    position: relative;

    @media only screen and (min-width: 600px) {
      flex-grow: 1;
      font-size: 23.5px;
      line-height: 25.5px;
      padding: 20px 25px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -13px;
      bottom: 3px;
      width: 19px;
      height: 19px;
      background-image: url("../img/comment.png");
      background-size: cover;
      transform: rotate(73deg);
    }
  }
}

.section-speaker {
  background-image: url("../img/speaker-bg.png");
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffffff;

  @media only screen and (min-width: 600px) {
    background-image: url("../img/speaker-bg-desktop.png");
    padding-top: 220px;
    padding-bottom: 200px;

    font-size: 22.5px;
    line-height: 24.5px;
    .container {
      position: relative;
    }
  }

  h2 {
    text-align: center;
    font-size: 41.5px;
    line-height: 47px;

    @media only screen and (min-width: 600px) {
      font-size: 60px;
      line-height: 57px;
      text-align: left;
    }
  }

  img {
    width: 100%;

    @media only screen and (min-width: 600px) {
      position: absolute;
      right: 0;
      width: 55%;
      top: 50%;
      transform: translate(5%, -50%);
    }
  }

  ul {
    padding-left: 30px;
    @media only screen and (min-width: 600px) {
      max-width: 45%;
    }

    li {
      margin-bottom: 15px;

      @media only screen and (min-width: 600px) {
        margin-bottom: 35px;
      }
    }
  }
}

.btn-inline {
  color: #c8bebe;
  font-size: inherit;
  text-decoration: underline;
}

.section.last {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22.5px;
  position: relative;

  @media only screen and (min-width: 600px) {
    font-size: 25.5px;
    line-height: 35.5px;
    text-align: left;
    padding-bottom: 330px;

    .container {
      position: relative;
    }

    .content {
      width: 61%;
    }
  }

  img {
    width: 60%;
    @media only screen and (min-width: 600px) {
      width: auto;
      position: absolute;
      right: 0;
    }
  }

  h2 {
    font-size: 21px;
    line-height: 26px;

    @media only screen and (min-width: 600px) {
      padding-top: 60px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  .btn-wrapper {
    margin-top: 40px;
    @media only screen and (min-width: 600px) {
      margin-top: 77px;
    }

    .btn {
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 45px;
        background-image: url("../img/arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;

        right: -56px;
        top: -17px;

        @media only screen and (min-width: 600px) {
          // margin-top: 77px;
          width: 70px;
          height: 70px;

          right: -146px;
          top: -34px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  background-color: #232323;
  color: white;
  font-size: 14px;
  font-family: "PF DinText Pro Medium";
  padding: 25px 0;

  @media only screen and (min-width: 600px) {
    font-size: 20px;
    line-height: 26px;
    .container {
      display: flex;
    }
  }

  .contact {
    font-size: 9px;
    @media only screen and (min-width: 600px) {
      text-align: left;
      order: -1;
      font-size: 15.5px;
      line-height: 35.5px;
      margin-right: 250px;
    }

    h2 {
      font-size: 11.5px;
      @media only screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 50px;
      }
    }

    .icons {
      img {
        width: 23px;

        @media only screen and (min-width: 600px) {
          width: 40px;
          margin-top: 20px;
        }

        &:not(:last-child) {
          margin-right: 16px;
          @media only screen and (min-width: 600px) {
            margin-right: 27px;
          }
        }
      }
    }
  }
}
